.login-container {
    display: flex;
    flex-direction: column;
    width:450px;
    margin:0 auto;
    margin-top:-50px;

    .login-header {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 46px;
        max-width: 700px;
        text-align: center;
        letter-spacing: -.75px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .login-subheader {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 32px;
        color: var( --font-color-gray);
        max-width: 700px;
        text-align: center;
        margin-top: -40px;
            strong {
                color: var(--font-color-black)
            }
    }

    .login-buttons-container {
        display: flex;
        flex-direction: column;
        margin: 0 12px 12px 12px;

        .login-google,
        .login-apple {
            margin-bottom: 12px;
            width: 100%;
            padding: 5px;
            box-shadow: none;
            border-radius: 5px;
        }
        
        .login-google {
            background-color: #fff;
            border: 2px solid #4285f4;
            color: #4285f4;
            font-size: 18px;
            font-weight: 700;
            height: 44px;
            min-width: 96px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-apple {
            font-size: 18px;
            font-weight: 700;
            height: 44px;
            min-width: 96px; 
            background-color: var(--font-color-white-header);
            border: 2px solid var(--font-color-black);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .login-separator {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        margin-top:8px;

        .separator-left,
        .separator-right {
            border: none;
            border-top: 2px solid black;
            flex-grow: 1;
        }

        .separator-center {
            padding: 0 20px;
            font-size: large;
        }
    }

    .login-email-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 376px;

        .login-email,
        .login-password {
            padding: 11px 12px 13px;
            height: 44px;
            font-size: 18px;
            line-height: 1.25;
            margin-bottom: 20px;
            border-radius: 4px;
            border: 1px solid var(--font-color-light-gray);
            width: 100%;
            box-shadow: none;
        }

        .login-email-button {
            color: var(--font-color-white-header);
            background-color: var( --color-primary);
            border: none;
            margin-bottom: 20px;
            width: 100%;
            font-size: 18px;
            font-weight: 700;
            height: 44px;
            min-width: 96px;
            padding: 0 16px 3px;
            border-radius: 5px;
        }
    }
}