.signup-container {
    display: flex;
    flex-direction: column;
    width:450px;
    margin:0 auto;
    margin-top:-50px;

    .signup-header {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 46px;
        max-width: 700px;
        text-align: center;
        letter-spacing: -.75px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .signup-subheader {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 32px;
        color: var( --font-color-gray);
        max-width: 700px;
        text-align: center;
        margin-top: -40px;
            strong {
                color: var(--font-color-black)
            }
    }

    .signup-email-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 376px;

        .signup-email,
        .signup-password
        .signup-confirm-password {
            padding: 11px 12px 13px;
            height: 44px;
            font-size: 18px;
            line-height: 1.25;
            margin-bottom: 20px;
            border-radius: 4px;
            border: 1px solid var(--font-color-light-gray);
            width: 100%;
            box-shadow: none;
        }

        .signup-email-button {
            color: var(--font-color-white-header);
            background-color: var( --color-primary);
            border: none;
            margin-bottom: 20px;
            width: 100%;
            font-size: 18px;
            font-weight: 700;
            height: 44px;
            min-width: 96px;
            padding: 0 16px 3px;
            border-radius: 5px;
        }
    }
    .signup-checkbox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        color: var(--font-color-black);
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;

        .email-notifications {
            display: flex;
        }

        .terms {
            a {
                text-decoration: none;
                color: var(--font-color-light-gray);
            }
        }
    }
}