.main-container{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 4% 96%;
  grid-template-columns: 25rem 1fr;
  grid-template-areas: 
    "header header"
    "nav section";
    @media only screen and (max-width: 500px) {
      grid-template-rows: 3% 97%;
      grid-template-columns: 25% 75%;
    }
    >header{
      grid-area: header;
      background-color: blue;
    }

    >nav{
      grid-area: nav;
      background-color: blueviolet;
    }

    >section{
      grid-area: section;
      // background-color: burlywood;
    }
}