.header-search{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 70rem;
    height: 2.5rem;
    font-size: 18px;
    transform: translateY(1px);
    background-color: var(--searchbox-background);
}

.header-search-btn{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 70rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--searchbox-shadow);
    border-radius: 7px;
    background-color: var(--searchbox-background);
    border: 1px solid var(--color-primary);
    color: var(--font-color-white-header);
    font-weight: 300;
    font-family: inherit;
}