.header-help-btn{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    color: var(--font-color-white-default);
}

.header-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-dark);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search{
  width: 40vw;
  height: 2.5rem;
  font-size: 18px;
  transform: translateY(1px);
  // background-color: var(--searchbox-background);
  background-color: transparent;
}

.header-search-btn{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--searchbox-shadow);
  border-radius: 7px;
  background-color: var(--searchbox-background);
  border: 1px solid var(--color-primary);
  color: var(--font-color-white-header);
  font-weight: 300;
  font-family: inherit;
  font-size: 1.3rem;
  z-index: -1;

  >.icon{
    margin-right: 1rem;
    font-size: 1.4rem;
  }
}

.header-history{
  margin-right: 1rem;
}

.header-help{
  margin-left: 1rem;
}

.header-side-icons{
  font-size: 2.3rem;
  color: var(--color-white);
  opacity: .8;
}

.header-flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-user-img{
  position: absolute;
  right: 2rem;
  height: 2.6rem;
  width: 2.6rem;
  overflow: hidden;
  >img{
    border-radius: 4px;
  }
}
