.searchBar_container{
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    padding-left: 25rem;
}

.searchBar_items{
    border: 1px solid red;
    width: 80%;
    height: 30vh;
}

.searchBar_input{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.searchBar_input>input{
    width: 80%;

}