@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

.addChannel-form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 1;
}

.addChannel-form-container::before {
  content: "";
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}

.addChannel-form-items {
  padding: 1rem;
  width: 28%;
  height: 32vh;
  border: 1px solid var(--font-color-black);
  border-radius: 5px;
  background-color: var(--font-color-white-header);
  z-index: 5;
}

.addChannel-form-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 70px;
  overflow: hidden;
  padding: 10px;
  width: 100%;

  > svg {
    font-size: x-large;
  }

  > h1,
  h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    font-size: 30px;
  }
}

// .addChannel-form-closebtn {
//   display: flex;
// }

// .addChannel-form-text {
//   text-align: center;
// }

.addChannel-form-text > h2 {
  color: var(--color-gray-dark);
  font-weight: 500;
  font-size: 15px;
  margin-left: 1.5rem;
}

.addChannel-hidden {
  display: none;
}

.addChannel-block {
  display: block;
}

.addChannel-form {
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.addChannel-form > input {
  margin-top: 1rem;
  width: 95%;
  height: 4.5vh;
  padding: 0.5rem;
  outline: none;
}

.addChannel-form-btn {
  margin-top: 3rem;
  margin-right: 2.2rem;
  float: right;
  width: 20%;
}

.btn {
  width: 100%;
  height: 4vh;
  border-radius: 5px;
  border-style: none;
  outline: none;
}
