.sidebar-container-main {
  background-color: var(--color-primary);
  color: white;
  border-top: 1px solid #49274b;
  max-width: 300px;
  height: 100%;
  overflow: hidden;
}

.sidebar-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #49274b;
  padding-bottom: 10px;
  padding: 10px;
}

.sidebar-info {
  flex: 1;
}

.sidebar-header:hover {
  background-color: var(--color-primary-dark);
}

.sidebar-info > h2 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 3px;
}

.sidebar-header > svg {
  padding: 8px;
  color: #49274b;
  font-size: 35px;
  background-color: var(--color-white);
  border-radius: 999px;
}

// .sidebar-option-icon {
//   padding: 15px;
//   font-size: 50px !important;
//   color: var(--color-white);
// }
