.sidebar-option-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1rem;
}

.sidebar-option {
  display: flex;
  align-items: center;
  height: 3vh;
  // padding: 2px 0 2px 0;
  @media only screen and (max-width: 500px) {
    height: 2vh;
  }
}

.sidebar-option-user-img{
  padding-right: 1rem;
  height: 2.6rem;
  width: 2.6rem;
  overflow: hidden;
  >img{
    border-radius: 2px;
  }
}

.sidebar-option-item:hover {
  opacity: 0.9;
  background-color: var(--color-primary-dark);
  cursor: pointer;
}

.sidebar-option-icon {
  padding: 5px;
  font-size: 25px !important;
  color: #bcabbc;
  @media only screen and (max-width: 500px) {
    font-size: 18px !important;
    padding: 5px;
  }
}

.sidebar-option-icon > svg {
  font-size: 500px;
}

.sidebar-option > h3 {
  font-weight: 400;
  font-size: 1.45rem;
  color: #bcabbc;
  @media only screen and (max-width: 500px) {
    font-size: 1.2rem;
  }
}

.sidebar-channels {
  margin-left: 5%;
}

a {
  text-decoration: none;
}

.sidebar-option-flex-center{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}