.sidebar-option {
  display: flex;
  align-items: center;
  // font-size: 5px;
  height: 3.5vh;
  padding-top: 5px;
  padding-left: 5px;
}

.sidebar-option:hover {
  opacity: 0.9;
  background-color: var(--color-primary-dark);
  cursor: pointer;
}

.sidebar-option-icon {
  padding: 10px;
  font-size: 38px !important;
  color: #bcabbc;
}

.sidebar-option-icon > svg {
  font-size: 500px;
}

.sidebar-option > h3 {
  font-weight: 400;
  font-size: 15px;
  color: #bcabbc;
}

.sidebar-channels {
  margin-left: 5%;
}

a {
  text-decoration: none;
}