.sidebar-container-main {
  background-color: var(--color-primary);
  color: white;
  border-top: 1px solid #7e438169;
  max-width: 300px;
  height: 100%;
  overflow: hidden;
}

.sidebar-header {
  display: flex;
  align-items: center;
  // border-bottom: 1px solid #49274b;
  border-bottom: 1px solid #7e438169;
  padding: 1rem;
}

.sidebar-info {
  flex: 1;
}

.sidebar-header:hover {
  background-color: var(--color-primary-dark);
}

.sidebar-info {
  > h2 {
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 3px;
    @media only screen and (max-width: 500px) {
      font-size: 1rem;
    }
  }
}

.sidebar-header > svg {
  padding: 0.8rem;
  color: #49274b;
  font-size: 3.3rem;
  background-color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  @media only screen and (max-width: 500px) {
    font-size: 3rem;
  }
}

.sidebar-option-container {
  height: 150%;
  padding-top: 1rem;
  overflow-y: scroll;
  // padding-bottom: 15rem;
  &::-webkit-scrollbar {
    display: none;
  }
  padding-bottom: 55rem;
}

.sidebaroption-child {
  // padding-left: 1rem;

  &.hidden {
    display: none;
  }
}

.sidebar-option-header,
.sidebar-option-channelList,
.sidebar-option-userList {
  padding-bottom: 1rem;
}

.sidebar-option-list-header {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-bottom: 0.7rem;

  > .icon {
    margin-right: 2px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
    &.rotate {
      transform: rotateZ(-90deg);
    }
  }
  > .icon:hover {
    background-color: #7e43813f;
    border-radius: 5px;
  }

  > h1 {
    font-weight: 400;
    font-size: 1.45rem;
    color: #bcabbc;
    @media only screen and (max-width: 500px) {
      font-size: 1.2rem;
    }
  }
}

.active {
  background-color: blue;
}
